/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* color */
:root{
    /* ### Main */

    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    
    /* ### Neutral */
    
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Grayish-blue-transparent: hsla(220, 14%, 75%, 0.20);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --BlackTransparent: hsl(0deg 0% 0% / 10%);

    /* ### Font size txt */

    --Text-font-size: 16px;

    /* ### Font familly */
    --Font-familly: 'Kumbh Sans', sans-serif;
}

/* translate menu */
.menu-for-desktop.active-menu{
    transform: translateX(0);
    transition: transform .5s;
}

/* nav + positionnement */

.header-navigation{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}
.header-navigation .header-container-left{
    display: flex;
    align-items: center;
}
.header-menu-svg{margin-top: 8px;}
.header-navigation .header-container-left .header-menu-svg{ 
    margin-right: 8px;
}
.header-website-title a span.title-website{
    font-size: 32px;
    font-family: var(--Font-familly);
    font-weight: 700;
    color: var(--Black);
    margin-left: 4px;
}
.homepage-link{
    text-decoration: none;
}

.header-navigation .header-container-right{
    display: flex;
    align-items: center;
}
div.header-profile-svg img{
    height: 35px;
    margin-left: 8px;
}
/* Menu desktop */
.menu-for-desktop{
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    background: white;
    height: 100vh;
    width: 50vw;
    transform: translateX(-100%);
    z-index: 999;
}
.icone-close-desktop{
    margin: 36px auto;
}
.menu-for-desktop ul li{
    margin-bottom: 16px;
}
.menu-for-desktop ul li a{
    text-decoration: none;
    color: var(--Black);
    font-size: var(--Text-font-size);
    font-family: var(--Font-familly);
    font-weight: 400;
}
/* cursor pointer */
.header-cart-svg{
    position: relative;
    margin-right: 16px;
    cursor: pointer;
}
.header-profile-svg{
    cursor: pointer;
}
/* notification cart product */
.notification-cart-number{
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 10px;
    background-color: var(--Orange);
    padding: 2px 6px;
    border-radius: 50%;
    color: white;

}

/* pop-up cart + pop-up profil */
.cart-pop-up{
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: white;
    width: 95%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    transform: translateY(-150%);
    z-index: 2;
}
.cart-pop-up.active-pop-up{
    transform: translateY(0);
    transition: transform .5s;
}
.heading-cart-title{
    padding: 25px 20px;
    font-family: var(--Font-familly);
    font-weight: 700;
    color: var(--Black);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
/* content cart */
.cart-pop-up-content-product{
    height: 150px;
}
.cart-pop-up-content-product.moreproduct{
    overflow-y: scroll;
    /* ajouter la props si la longueur du cart est > à 2 */
}



.content-cart{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-product-img img{
    height: 50px;
    border-radius: 5px;
}
.cart-product-recap .cart-product-title{
    color: var(--Dark-grayish-blue);
    font-size: var(--Text-font-size);
    font-family: var(--Font-familly);
    margin-bottom: 8px;
}
.cart-product-recap .cart-product-number{
    color: var(--Dark-grayish-blue);
    font-size: var(--Text-font-size);
    font-family: var(--Font-familly);
    font-weight: 400;
}
.cart-product-recap .cart-product-number span.total-price{
    color: var(--Black);
    font-size: var(--Text-font-size);
    font-family: var(--Font-familly);
    font-weight: 700;
}
.checkout-div{
    padding: 15px;
}
.checkout-div .checkout-btn{
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    background-color: var(--Orange);
    font-size: var(--Text-font-size);
    font-family: var(--Font-familly);
    font-weight: 700;
    outline: none;
    color: white;
    border-color: transparent;
    cursor: pointer;
}
.checkout-div .checkout-btn:hover{
    background: radial-gradient(circle, rgba(255,125,26,0.6979166666666667) 20%, rgba(255,125,26,0.5970763305322129) 80%);
    transition: background-color 0.5s;
}

/* content page product */
/* content left */
/* .img-max-content{
    background-image: url('../asset/jpg/image-product-1.jpg');
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
} */
.img-max-content img.img-main{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.others-product-image{
    display: none;
}
/* content right */
.content-body-right{
    padding: 15px;
}
/* product branding cat */
.product-branding{
    color: var(--Orange);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: var(--Font-familly);
    margin-bottom: 16px;
}
.product-title{
    color: var(--Black);
    font-size: 24px;
    font-weight: 700;
    font-family: var(--Font-familly);
    margin-bottom: 16px;
    padding-right: 32px;
    line-height: 1.2em;
}
.product-description{
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    font-family: var(--Font-familly);
    margin-bottom: 16px;
    line-height: 1.6em;
}
/* princing cat */
.eshop-descr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
}
.eshop-price-with-discount{
    display: flex;
    align-items: center;
}
.eshop-price{
    margin-right: 24px;
    color: var(--Black);
    font-size: 24px;
    font-weight: 700;
    font-family: var(--Font-familly);
}
.eshop-discount{
    background-color: var(--Pale-orange);
    color: var(--Orange);
    font-weight: 700;
    font-family: var(--Font-familly);
    padding: 7px;
    border-radius: 10px;
    height: 16px;
}
.eshop-previous-price{
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-weight: 700;
    font-family: var(--Font-familly);
    font-size: 16px;
}

/* adding input cat */
.eshop-cart-selection{
    display: flex;
    flex-direction: column;
}
.eshop-cart-adding{
    position: relative;
    display: flex;
    justify-content: space-around;  
    align-items: center;  
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--Grayish-blue-transparent);
    padding: 24px 0px;
    border-radius: 15px;
}
input.eshop-cart-number{
    background-color: transparent;
    outline: none;
    border-color: transparent;
    /* text alignement */
    text-align: center;
    font-weight: bold;
    font-family: var(--Font-familly);
}
.eshop-cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--Orange);
    padding: 24px 0px;
    border-radius: 15px;
}
input.add-to-cart{
    background-color: transparent;
    outline: none;
    border: transparent;
    color: white;
    font-weight: bold;
    font-family: var(--Font-familly);
    font-size: 16px;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(255,125,26,0.3); 
    box-shadow: 0px 15px 25px 0px rgba(255,125,26,0.3);
    
}
input.add-to-cart:hover{
    background: radial-gradient(circle, rgba(255,125,26,0.6979166666666667) 20%, rgba(255,125,26,0.5970763305322129) 80%);
    transition: background-color 0.5s;
}
.eshop-cart-adding-decre, .eshop-cart-adding-incre{
    color: var(--Orange);
    font-weight: bold;
    font-size: 24px;
    font-family: var(--Font-familly);
}

@media screen and (min-width: 426px) and (max-width: 980px){
    .cart-pop-up{
        width: 400px;
    }
}


@media screen and (min-width: 981px) {
    /* header */
    .header-navigation{
        padding: 0 15px;
        border-bottom: 1px solid var(--BlackTransparent);
        max-width: 85%;
        height: 85px;
    }
    .header-website-title span.title-website{
        font-size: 32px;
        font-family: var(--Font-familly);
        font-weight: 700;
    }
    /* menu */
    .menu-for-desktop{
        position: unset;
        width: 400px;
        padding-top: 32px;
        background-color: transparent;
        transform: translateX(0);
        height: 50px;
        margin-left: 32px;
    }
    .menu-for-desktop ul{
        display: flex;
        justify-content: space-around;
        height: 50px;
        width: 400px;
    }
    .menu-for-desktop li{
        height: 50px;
        margin-bottom: 0px;
    }
    .menu-for-desktop li:hover{
        border-bottom: 2px solid var(--Orange);
        transition: border-bottom ease-in;
    }
    .header-menu-svg,.icone-close-desktop{
        display: none;
    }

    /* cart + profile  img*/

    div.header-profile-svg img{
        height: 45px;
        margin-left: 32px;
    }


    /* pop-up cart */
    .cart-pop-up{
        width: 500px;
        max-width: 50%;
        top: 12vh;
        right: 7vw;
    }

    /* product page */
    div.main-content{
        max-width: 85%;
        margin: 64px auto;
    }
    section.section-body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content-body-left, .content-body-right{
        width: 50%;
    }
    /* content left */
    .img-max-content{
        display: flex;
        justify-content: center;
    }
    .img-max-content img{
        height: 300px;
        width: 300px;
        border-radius: 15px;
        background-position: top;
    }
    .others-product-image{
        display: block;
    }
    .others-product-image{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 16px;
    }
    .slider-img-other img{
        height: 80px;
        width: 80px;
        border-radius: 15px;
    }
}